<footer class="footer mt-auto py-3 bg-light">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-sm">
                <p>Telúrbicos</p>
            </div>
            <div class="col-sm">
                <button class="btn btn-primary"> Contactanos!</button>
            </div>

        </div>
        
        
        <!--<span class="text-muted">Place sticky footer content here.</span>-->
    </div>
</footer>
