<!--Home section-->
<main class="d-flex align-items-center justify-content-center">

    <div class="container-fluid p-0">
    
        <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-keyboard="true">

            <div class="carousel-indicators mb-4">
                <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button> 
                <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>                    
            </div>

            <div *ngFor="let slide of slidesHero; let i=index" class="carousel-inner">

                <div class="carousel-item" [ngClass]="(i === 0) ? 'active' : ''" [ngStyle]="{'background-image':'url(' + slide.img + ')'}">
                    
                    <div class="container-fluid d-md-block">
                        <div class="row align-items-center">
                            <div class="col col-md-8 col-lg-7 col-xl-6">
                                <div class="carousel-caption p-4 mb-5 d-block">
                                    <h2 class="fw-bolder text-capitalize mb-3">{{slide.title}}</h2>
                                    <p>{{slide.description}}</p>
                                    <button class="btn btn-primary" [routerLink]="slide.link" routerLinkActive="active">Ver más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>
    
</main>
