/*NAVBAR*/

.nav-item {
  margin-right: 1rem;
}

.nav-item i {
  margin-right: 0.5rem;
}

.nav-link:hover {
  padding: 0.75rem;
  background-color: #70a0e7;
  border-radius: .25rem;
}

.dropdown-item:hover {
  padding: 0.75rem;
  background-color: #aec8ee
}

/*NAVBAR OFFCANVAS*/

@media (max-width: 575.98px) { 
    #offcanvasNavbar {
      width: 75%;
    }
    /*para alinear iconos en offcanvasNavbar*/
    .nav-item i { 
      width: 30px;
    }
  }