<!--Navbar section-->
<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Telúrbicos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--OffCanvas-->
            <div class="offcanvas offcanvas-start bg-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="Barra de navegación lateral">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Telúrbicos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-house fs-4 me-1"></i><span>Inicio</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-brush fs-4 me-1"></i><span>Murales</span>
                            </a>
                            <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-brush fs-4 me-1"></i><span>Telúrbicos</span></a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user fs-4 me-1"></i><span>Homenajes</span></a></li>
                                <!--<li><hr class="dropdown-divider"></li>-->
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-paintbrush fs-4 me-1"></i><span>Otros</span></a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-location-dot fs-4 me-1"></i><span>Mapa</span></a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-square-rss fs-4 me-1"></i><span>Prensa</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-users fs-4 me-1"></i><span>Nosotres</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-solid fa-envelope fs-4 me-1"></i><span>Contacto</span></a>
                        </li>
                        
                    </ul>
                </div>
            
            </div>
        </div>
    </nav>
