<div class="container-fluid">

    <h2 class="title-section text-center m-3">Nosotres</h2>

    <div id="bgNosotres" class="row d-flex p-0">

        <div class="col-md-6 p-3">
            
            <div class="row d-flex align-items-center justify-content-center">
                
                <div class="img-profile py-3 col-10 col-sm-4">
                    <img id="fotoPerfil" class="img-fluid" src="../../../assets/Jose-perfil.jpg" alt="Foto de perfil">
                </div>

                <div class="description-profile py-3 col-10 col-sm-8">
                    <div class="name-profile py-2">
                        <h3>José Sasia</h3>
                    </div>           
        
                    <p class="">Buena gente, divertido, detallista, preocupado con el mundo y la profunda humanidad del mismo. Pinta murales copados.</p>
                </div>

                <div class="media-profile d-flex align-items-center justify-content-center col-10">
                    <ul class="row d-flex align-items-center justify-content-between list-unstyled">
                        <li class="media-item d-flex align-items-center justify-content-center col-4 col-md-auto">
                            <a class="" href="https://www.instagram.com/sasialibre/" target="_blank">
                                <i class="fa-brands fa-instagram" role="img" aria-label="Instagram"></i>
                                <!--<small class="d-md-none ms-2">Linkedin</small>-->
                            </a>
                            
                        </li>
                        <li class="media-item d-flex align-items-center justify-content-center col-4 col-md-auto">
                            <a class="" href="https://es-la.facebook.com/jose.sasia" target="_blank">
                                <i class="fa-brands fa-facebook" role="img" aria-label="Facebook"></i>
                                <!--<small class="d-md-none ms-2">GitHub</small>-->
                            </a>
                            
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-6 p-3">
            
            <div class="row d-flex align-items-center justify-content-center">
                
                <div class="img-profile py-3 col-10 col-sm-4">
                    <img id="fotoPerfil" class="img-fluid" src="../../../assets/Geo-perfil.jpg" alt="Foto de perfil">
                </div>

                <div class="description-profile py-3 col-10 col-sm-8">
                    <div class="name-profile py-2">
                        <h3>Georgina Ravasi</h3>
                    </div>           
        
                    <p class="">Buena gente, divertida. Pinta murales copados.</p>
                </div>

                <div class="media-profile d-flex align-items-center justify-content-center col-10">
                    <ul class="row d-flex align-items-center justify-content-between list-unstyled">
                        <li class="media-item d-flex align-items-center justify-content-center col-4 col-md-auto">
                            <a class="" href="https://www.instagram.com/geouravasi/" target="_blank">
                                <i class="fa-brands fa-instagram" role="img" aria-label="Instagram"></i>
                                <!--<small class="d-md-none ms-2">Linkedin</small>-->
                            </a>
                        </li>
                        <li class="media-item d-flex align-items-center justify-content-center col-4 col-md-auto">
                            <a class="" href="https://es-es.facebook.com/Alumbral/" target="_blank">
                                <i class="fa-brands fa-facebook" role="img" aria-label="Facebook"></i>
                                <!--<small class="d-md-none ms-2">GitHub</small>-->
                            </a>                         
                        </li>
                        <li class="media-item d-flex align-items-center justify-content-center col-4 col-md-auto">
                            <a class="" href="https://ar.linkedin.com/in/georgina-ravasi-36355534" target="_blank">
                                <i class="fa-brands fa-linkedin" role="img" aria-label="Linkedin"></i>
                                <!--<small class="d-md-none ms-2">GitHub</small>-->
                            </a>                         
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
