/*HERO CAROUSEL*/

#heroCarouselExample .carousel-item.telurbicos {
    background-image: url("../../../assets/bg-telurbicos.jpg");
}

#heroCarouselExample .carousel-item.homenajes {
    background-image: url("../../../assets/bg-homenajes.jpg");
}

#heroCarouselExample .carousel-item.otros {
    background-image: url("../../../assets/bg-otros.jpg");
}

/*Full Screen Mobile*/
#heroCarouselExample .carousel-item {
    height: 100vh;
    width: 100%;
    min-height: 350px;
    background: no-repeat center center scroll;
    background-size: cover;
}

#heroCarouselExample .carousel-item .carousel-caption{
    background:rgba(0,0,0,0.6);
    border-radius: 0.25rem;
    animation-duration: 1s;
    animation-delay: 2s;
  }